.sapSmartTemplatesObjectPage .sapUxAPObjectPageHeaderDetails .sapSmartTemplatesObjectPageHeaderMiniChartTitle {
  color: @sapUiContentLabelColor;
  text-shadow: none;
}

.sapSmartTemplatesObjectPage .sapSmartTemplatesObjectPageHeaderForm .sapSmartTemplatesObjectPageHeaderFormTitle,
.sapSmartTemplatesObjectPage .sapSmartTemplatesObjectPageHeaderPlainText .sapSmartTemplatesObjectPageHeaderPlainTextTitle {
  color: @sapUiBaseText;
}

.sapSmartTemplatesObjectPage .sapSmartTemplatesObjectPageHeaderProgressIndicatorTitle{
  color: @sapUiContentLabelColor;
  text-shadow: none;
}
