
/* =================================================================== */
/* CSS for control sap.ushell/UserPreferencesButton.control base theme*/
/* ================================================================== */

#userPrefLoadingBusyIndicator {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -2rem;
    margin-left: -2rem;
}
.sapUshellUserPreferencesDialog {
  #userPreferencesDialog {
    .sapMDialogScroll {
      display: block;
      }
    #userPrefEnteryList li {
      .sapMDLILabel {
        min-width: 30%;
        }
      }
    }

  .sapUshellUserPrefUserIdentifier {
    padding: 1rem;
    }
  }

/* ========================== Compact Mode =================== */

.sapUiSizeCompact .sapMDialog>header.sapMDialogTitle .sapUiIcon {
    line-height: 1.6rem;
    font-size: 1rem;
}
