.sapCepDivider {
  position: absolute;
  transform: translateX(-50%);
  top: 0;
  bottom: 0;
  width: 2px;
  left: 0;
  padding: 4px;

  &:hover {
    cursor: col-resize;
  }

  .sapCepDividerInner {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 2px;
  }
}

html[dir=rtl] .sapCepDivider {
  transform: translateX(50%);
}

.sapCepDividerButton {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  transform: translateX(-50%);

  &.sapCepColumnButtonRight {
    left: auto;
    right: 0;
    transform: translateX(50%);
  }
}

html[dir=rtl]  .sapCepDividerButton {
  transform: translateX(50%);
  &.sapCepColumnButtonRight {
    transform: translateX(-50%);
  }
}
