.sapCepAddButton {
  border: none;
  background: transparent;
  outline: none;
  border-radius: 100%;
  padding: 0.1875rem 0;
  color: @sapUiButtonIconColor;
  max-height: 2.25rem;
  max-width: 2.25rem;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    .sapCepAddButtonInner {
      background: @sapUiButtonHoverBackground;
    }
  }

  .sapCepAddButtonInner {
    display: flex;
    justify-content: center;
    align-items: center;
    background: @sapUiButtonBackground;
    border-radius: 100%;
    border: 1px solid @sapUiButtonBorderColor;
    width: 1.625rem;
    height: 1.625rem;
    cursor: pointer;
  }

  .sapCepAddButtonIcon {
    cursor: pointer;
    text-align: center;
    display: inline-block;
    vertical-align: baseline;
    line-height: 1.5rem;
    position: relative;
    font-size: 1rem;
    max-height: 1.5rem;
    width: 1rem;
  }
}
