/* ============================================== */
/* CSS for sap.suite.ui.commons/MicroProcessFlow  */
/* Horizon High Contrast White theme              */
/* ============================================== */

.sapSuiteUiCommonsMicroProcessFlowItemSuccess, .sapSuiteUiCommonsMicroProcessFlowItemError,
.sapSuiteUiCommonsMicroProcessFlowItemWarning , .sapSuiteUiCommonsMicroProcessFlowItemInformation {

	.sapSuiteUiCommonsMicroProcessFlowItemIcon {
		color: @sapContent_ForegroundColor
	}
}

.sapUiSizeCompact .sapSuiteUiCommonsMicroProcessFlowItem {
	min-width: 1.25rem;
	max-width: 1.25rem;
}