.sapSuiteUiCommonsNetworkGraphDivNode.sapSuiteUiCommonsNetworkElementHighlight .sapSuiteUiCommonsNetworkGraphDivInner {
	border-color: @sapPrimary5;
	background-color: @sapPrimary4;
}

.sapSuiteUiCommonsNetworkGraphDivNode.sapSuiteUiCommonsNetworkElementSelected .sapSuiteUiCommonsNetworkGraphDivInner {
	color: @sapUiContentContrastTextColor;
	border-color: @sapPrimary2;
	background-color: @sapPrimary2;
}

.sapSuiteUiCommonsNetworkGraphDivNode.sapSuiteUiCommonsNetworkElementHighlight.sapSuiteUiCommonsNetworkElementSelected .sapSuiteUiCommonsNetworkGraphDivInner {
	color: @sapUiContentContrastTextColor;
	background-color: @sapPrimary2;
	border-color: @sapPrimary6;
}

.sapSuiteUiCommonsNetworkElementSelected .sapSuiteUiCommonsNetworkGraphDivHeaderColor {
	background-color: @sapPrimary2;
}

.sapSuiteUiCommonsNetworkBox.sapSuiteUiCommonsNetworkGraphDivNode.sapSuiteUiCommonsNetworkElementHighlight.sapSuiteUiCommonsNetworkElementSelected .sapSuiteUiCommonsNetworkGraphDivNodeIconTitle,
.sapSuiteUiCommonsNetworkBox.sapSuiteUiCommonsNetworkGraphDivNode.sapSuiteUiCommonsNetworkElementHighlight.sapSuiteUiCommonsNetworkElementSelected .sapSuiteUiCommonsNetworkGraphDivNodeTitle {
	color: @sapUiContentContrastTextColor;
}
