.sapSmartTemplatesListReportDraftInfoIcon.sapUiIcon {
  font-family: SAP-icons;
  font-size: 1rem;
  padding-right: 0.5rem;
}

.sapSmartTemplatesListReportFilterSummary {
  cursor: pointer;
}

.sapSmartTemplatesSLIPositive > .sapMLIBContent > .sapMGHLITitle {
	color: @sapPositiveElementColor;
}
.sapSmartTemplatesSLINeutral > .sapMLIBContent > .sapMGHLITitle {
	color: @sapNeutralElementColor;
}
.sapSmartTemplatesSLINegative > .sapMLIBContent > .sapMGHLITitle {
	color: @sapNegativeElementColor;
}
.sapSmartTemplatesSLICritical > .sapMLIBContent > .sapMGHLITitle {
	color: @sapCriticalElementColor;
}

.sapSmartTemplatesSLIBold > .sapMLIBContent > .sapMSLITitleDiv > .sapMSLITitleOnly {
	font-weight: bold;
}

.sapSmartTemplatesListReportFirstText {
	overflow: visible;
	font-weight: bold;
	display: inline-block;
	word-wrap: break-word;
	white-space: normal;
}
