.sapUiMedia-Std-Desktop, .sapUiMedia-Std-Tablet {
  .sapSmartTemplatesObjectPage .sapSmartTemplatesObjectPageHeaderImage {
	height: 6rem;
	width: 6rem;
  border: 1px solid @sapUiMediumBorder;
  border-color: @sapUiObjectHeaderBorderColor;
  }
}

.sapUiMedia-Std-Phone .sapSmartTemplatesObjectPage .sapSmartTemplatesObjectPageHeaderImage {
  height: 3rem;
  width: 3rem;
  border: 1px solid @sapUiMediumBorder;
}

.sapUiMedia-Std-Desktop, .sapUiMedia-Std-Tablet {
  .sapSmartTemplatesObjectPage .sapUxAPObjectPageContentObjectImage-Circle .sapSmartTemplatesObjectPageHeaderImage {
	border-radius: 100%;
  }
}

.sapUiMedia-Std-Phone .sapSmartTemplatesObjectPage .sapUxAPObjectPageContentObjectImage-Circle .sapSmartTemplatesObjectPageHeaderImage {
  border-radius: 100%;
}

.sapSmartTemplatesObjectPage .sapUxAPObjectPageHeaderIdentifier .sapUxAPObjectPageHeaderObjectImageForce .sapUxAPObjectPageHeaderObjectImage,
.sapSmartTemplatesObjectPage .sapUxAPObjectPageHeaderStickied .sapUxAPObjectPageHeaderIdentifier .sapUxAPObjectPageHeaderObjectImage {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding-top: 0;
  padding-bottom: 0;
  border: 1px solid @sapUiMediumBorder;
}

.sapSmartTemplatesObjectPage .sapUxAPObjectPageHeaderContent .sapUxAPObjectPageHeaderContentItem,
.sapSmartTemplatesObjectPage .sapSmartTemplatesObjectPageDynamicPageHeader > * {
  margin-right: 2rem;
  margin-bottom: 1rem;
  line-height: 1.250rem;
}

.sapSmartTemplatesObjectPage .sapSmartTemplatesObjectPageDynamicPageHeaderTitle > *{
  margin-right: 2rem;
}

.sapSmartTemplatesObjectPage .sapSmartTemplatesObjectPageDynamicPageHeaderTitleWithoutImage > :first-child,
.sapSmartTemplatesObjectPage .sapSmartTemplatesObjectPageDynamicPageHeaderTitleWithImage > :nth-child(2){
  margin-right: 0.5rem;
}

.sapSmartTemplatesObjectPage .sapSmartTemplatesObjectPageDynamicPageHeaderImageDiv > :first-child{
  margin-right: 1rem;
}

.sapSmartTemplatesObjectPage .sapUxAPObjectPageHeaderContent .sapUxAPObjectPageHeaderContentItem.sapSmartTemplatesObjectPageHeaderImage,
.sapSmartTemplatesObjectPage .sapSmartTemplatesObjectPageDynamicPageHeader .sapSmartTemplatesObjectPageHeaderImage {
  margin-right: 2rem;
}

.sapSmartTemplatesObjectPageHeaderAvatar {
  margin-right: 1rem;
}


html[dir="rtl"] .sapSmartTemplatesObjectPage .sapUxAPObjectPageHeaderContent .sapUxAPObjectPageHeaderContentItem {
  margin-right: 0;
  margin-left: 3rem;
}

.sapFDynamicPageTitleMain>.sapFDynamicPageTitleMainInner .sapMTitle.sapSmartTemplatesObjectPageDynamicPageHeaderTitleText {
  font-size: 1.375rem ;
}

.sapSmartTemplatesObjectPageDynamicPageHeaderTitleFlexBox {
  overflow: hidden;
}

.sapSmartTemplatesObjectPageDynamicHeaderSubtitle{
  color: @sapContent_LabelColor
}

.sapSmartTemplatesObjectPage .sapSmartTemplatesObjectPageHeaderAddress .sapSmartTemplatesObjectPageHeaderAddressLabel {
  margin-bottom: 0.5rem;
}

.sapSmartTemplatesObjectPage .sapSmartTemplatesObjectPageHeaderAddress .sapSmartTemplatesObjectPageHeaderAddressValue {
  line-height: 1.5rem;
}

.sapSmartTemplatesObjectPage .sapSmartTemplatesObjectPageContactsImage {
  line-height: 3rem;
  margin-right: .75rem;
  font-size: 2.25rem;
  font-weight: normal;
  width: 3rem;
  height: 3rem;
}

.sapSmartTemplatesObjectPage .sapSmartTemplatesObjectPageDataPoint .sapSmartTemplatesObjectPageDataPointLabel,
.sapSmartTemplatesObjectPage .sapSmartTemplatesObjectPageHeaderContact .sapSmartTemplatesObjectPageHeaderContactLabel {
  margin-bottom: 0.5rem;
}

.sapSmartTemplatesObjectPage .sapSmartTemplatesObjectPageHeaderContact .sapSmartTemplatesObjectPageHeaderContactLink,
.sapSmartTemplatesObjectPage .sapSmartTemplatesObjectPageDataPoint .sapSmartTemplatesObjectPageDataPointValue .sapMText,
.sapSmartTemplatesObjectPage .sapSmartTemplatesObjectPageDataPoint .sapSmartTemplatesObjectPageDataPointValue .sapMLnk,
.sapSmartTemplatesObjectPage .sapSmartTemplatesObjectPageDataPoint .sapSmartTemplatesObjectPageDataPointValue .sapMText.sapUiCompSmartFieldUnit,
.sapSmartTemplatesObjectPage .sapSmartTemplatesObjectPageDataPoint .sapSmartTemplatesObjectPageDataPointValue .sapMObjStatusText {
  font-size: 1.375rem;
  line-height: 1.5rem;
}

.sapSmartTemplatesObjectPage .sapSmartTemplatesObjectPageHeaderContact .sapSmartTemplatesObjectPageHeaderContactLinkIcon {
  font-size: 1.125rem;
  line-height: 1.125rem;
}

.sapSmartTemplatesObjectPage .sapSmartTemplatesObjectPageDataPoint div:nth-child(2) .sapMObjStatusIcon {
  display: none;
}

.sapSmartTemplatesObjectPage .sapSmartTemplatesObjectPageDataPoint .sapUiCompUOM>div:nth-child(2) {
  max-width: initial;
  min-width: initial;
}

.sapSmartTemplatesObjectPage .sapSmartTemplatesObjectPageContactsList .sapSmartTemplatesObjectPageContactsListItem {
  border: 0;
  float: left;
  width: 24rem;
  padding: 0.1rem;
}

.sapSmartTemplatesObjectPage .sapSmartTemplatesObjectPageContactsList .sapMGrowingList {
  clear: both;
}

.sapSmartTemplatesObjectPage .sapSmartTemplatesObjectPageContactsList .sapSmartTemplatesObjectPageContactsListContactTitle {
  font-size: 1rem;
  margin-top: 0.1rem;
  max-width: 19.25rem;
}

.sapSmartTemplatesObjectPage .sapSmartTemplatesObjectPageContactsList .sapSmartTemplatesObjectPageContactsListContactSubTitle {
  margin-top: 0.3rem;
}

.sapSmartTemplatesObjectPageContactsQuickView .sapUiSimpleForm .sapUiRGLContainerCont {
  padding-bottom: 0;
}

.sapSmartTemplatesObjectPage .sapSmartTemplatesSmartForm .sapMTB:not(.sapUiRTECustomToolbar) {
  display: none;
}

.sapSmartTemplatesObjectPage .sapSmartTemplatesSmartForm .sapUiFormTitle:empty {
  margin: 0;
  height: 0;
}

.sapSmartTemplatesObjectPage .sapSmartTemplatesObjectPageHeaderCollection > div:nth-child(n+2) {
  margin-top: 0.5rem;
}

.sapSmartTemplatesObjectPage .sapSmartTemplatesObjectPageHeaderPlainText {
  max-width: 300px;
}

.sapSmartTemplatesObjectPageHeaderProgressIndicatorControl{
  margin-bottom: 0 !important;
  margin-top: 1rem;
}

.sapSmartTemplatesFooterFloatRight{
  float: right;
}

.sapSmartTemplatesObjectPageHeaderProgressIndicatorFooter{
  margin-top: 0.375rem;
  border: 0;
  background-color: inherit;
}

.sapSmartTemplatesObjectPage .sapSmartTemplatesObjectPageHeaderForm .sapSmartTemplatesObjectPageHeaderFormTitle,
.sapSmartTemplatesObjectPage .sapSmartTemplatesObjectPageHeaderPlainText .sapSmartTemplatesObjectPageHeaderPlainTextTitle {
  font-size: @sapUiFontSize;
  margin-bottom: 1rem;
  line-height: 1.5rem;
}

.sapSmartTemplatesObjectPage .sapSmartTemplatesObjectPageHeaderPlainText .sapSmartTemplatesObjectPageHeaderPlainTextField {
  font-family: @sapUiFontFamily;
  font-size: 0.875rem;
  font-weight: normal;
  line-height: 1.5rem;
  margin-top: -0.125rem;
}

.sapSmartTemplatesObjectPage .sapSmartTemplatesObjectPageHeaderMiniChartTitle {
  font-size: @sapMFontLargeSize;
  font-weight: normal;
  line-height: 1rem;
}

.sapSmartTemplatesObjectPage .sapSmartTemplatesObjectPageHeaderMiniChartSubTitle {
  font-size: @sapMFontMediumSize;
  font-weight: normal;
}

.sapSmartTemplatesObjectPage .sapSmartTemplatesFooterFloatRight {
  float: right;
}

.sapSmartTemplatesObjectPage .sapSmartTemplatesObjectPageHeaderForm.sapMLabel:after, .sapSmartTemplatesObjectPageHeaderFormLabelNCriticcal.sapMLabel:after, .sapSmartTemplatesObjectPageHeaderFormLabel.sapMLabel:after, .sapSmartTemplatesObjectPageDataPointLabel.sapMLabel:after {
  content: ":";
}

.sapSmartTemplatesObjectPage .sapSmartTemplatesObjectPageHeaderForm .sapSmartTemplatesObjectPageHeaderFormField .sapMText,
.sapSmartTemplatesObjectPage .sapSmartTemplatesObjectPageHeaderForm .sapSmartTemplatesObjectPageHeaderFormField .sapMLnk,
.sapSmartTemplatesObjectPage .sapSmartTemplatesObjectPageHeaderForm .sapSmartTemplatesObjectPageHeaderFormField.sapMLnk,
.sapSmartTemplatesObjectPage .sapSmartTemplatesObjectPageHeaderForm .sapSmartTemplatesObjectPageHeaderFormLabel {
  font-size: 0.875rem;
  line-height: 1.320rem;
}

.sapSmartTemplatesObjectPageHeaderFormLabelNCriticcal{
  font-size: 0.875rem;
  line-height: 1.420rem;
}

html[dir="rtl"] .sapUiMedia-Std-Tablet .sapSmartTemplatesObjectPage .sapUxAPObjectPageHeaderContent {
  padding-right: 3rem;
  padding-left: 0;
}

html[dir="rtl"] .sapUiMedia-Std-Desktop .sapSmartTemplatesObjectPage .sapUxAPObjectPageHeaderContent {
  padding-right: 3rem;
  padding-left: 0;
}

html[dir="rtl"] .sapUiMedia-Std-Tablet .sapSmartTemplatesObjectPage .sapUxAPObjectPageHeaderIdentifier {
  padding-right: 3rem;
  padding-left: 0;
}

html[dir="rtl"] .sapUiMedia-Std-Desktop .sapSmartTemplatesObjectPage .sapUxAPObjectPageHeaderIdentifier {
  padding-right: 3rem;
  padding-left: 0;
}

.sapSmartTemplatesObjectPage .sapUxAPObjectPageHeaderIdentifier .sapSmartTemplatesShareMenuButton .sapMBtnInner.sapMBtnIconFirst,
.sapSmartTemplatesObjectPage .sapUxAPObjectPageHeaderIdentifier .sapSmartTemplatesUpAndDownNavigation .sapMBtnInner.sapMBtnIconFirst{
  padding: 0;
}

.sapSmartTemplatesObjectPage .sapSmartTemplatesObjectPageSubSectionGrid {
  margin-right: -1rem;
}

html[dir="rtl"] .sapSmartTemplatesObjectPage .sapSmartTemplatesObjectPageSubSectionGrid {
  margin-left: -1rem;
  margin-right: 0;
}

.sapSmartTemplatesObjectPage .sapSmartTemplatesObjectPageSubSectionGrid>div>* {
  padding-right: 1rem;
}

html[dir="rtl"] .sapSmartTemplatesObjectPage .sapSmartTemplatesObjectPageSubSectionGrid>div>* {
  padding-left: 1rem;
  padding-right: 0;
}

.sapSmartTemplatesObjectPage .sapSmartTemplatesObjectPageSubSection .sapSmartTemplatesObjectPageSubSectionDummyBlock {
	width: 1px;
    margin: 0px;
    height: 1px;
    min-height: 1rem;
}

.sapSmartTemplatesObjectPage .sapSmartTemplatesObjectPageDataFieldVBoxLabel {
    padding-top: 0.625rem;
    padding-bottom: 0.125rem;
}

.sapSLIPositive > .sapMLIBContent > .sapMSLIImgIcon {
  color: @sapPositiveElementColor;
}
.sapSLINeutral > .sapMLIBContent > .sapMSLIImgIcon {
  color: @sapNeutralElementColor;
}
.sapSLINegative > .sapMLIBContent > .sapMSLIImgIcon {
  color: @sapNegativeElementColor;
}
.sapSLICritical > .sapMLIBContent > .sapMSLIImgIcon {
  color: @sapCriticalElementColor;
}

/*for NavPopover QuickView*/
.sapMQuickViewPage.sapSmartTemplatesSmartLinkNavPopoverContentTitleAreaTrunc{
  display: block !important; //a long text in the title or description gets truncated and ... are set at the end
}
.sapSmartTemplatesSmartLinkNavPopoverContentIcon{
	margin-right: .75rem !important;
  	line-height: 3rem !important;
  	font-size: 2.25rem !important;
}
.sapSmartTemplatesSmartLinkNavPopoverContentTitleDecreaseFirstMargin > div:first-child {
	margin-bottom: .125rem !important; //2px
}
.sapSmartTemplatesSmartLinkNavPopoverContentTitleIncrease{
  	white-space: nowrap !important;
	font-size: 1.25rem !important; //20px
  	padding-bottom: .0625rem !important; //1px
  	/* the settings below are equivalent to the ContactQV header but not to Smart Link header
  	font-size: 20px !important;
  	padding-bottom: 6px !important;
  	*/
}
.sapSmartTemplatesSmartLinkNavPopoverContentContactLabelBoxOuter{
  padding-top: 0.75rem !important;
}
.sapSmartTemplatesSmartLinkNavPopoverContentContactLabelBoxInner{
  padding-left: 1rem !important;
  padding-right: 1rem !important;
  padding-top: 0.25rem !important;
  padding-bottom: 0.25rem !important;
}
.sapSmartTemplatesSmartLinkNavPopoverContentContactLabel{
  height: 2rem !important; //32px
  line-height: 2rem !important; //32px
  margin-bottom: .375rem !important;  //6px
  border-bottom-width: 0 !important;
  overflow-y: hidden; // !important; //suppress that for the label a vertical scrollbar is shown
}
.sapSmartTemplatesSmartLinkNavPopoverContentContactContent{
  margin-top: -0.625rem !important;

}
.sapSmartTemplatesSmartLinkNavPopoverContentContactFieldGroup{
  display: block; // !important; //a long text in the title or description gets truncated and ... are set at the end
  padding-top: .625rem !important; //10px
  padding-bottom: 1.375rem !important; //22px
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}
.sapSmartTemplatesSmartLinkNavPopoverContentContactTitleIncrease{
  font-size: 1rem !important; //16px
  padding-bottom: .375rem !important; //6px
}
/*CSS for message dialog for transient message dialog*/
.sapSmartTemplatesSLIPositive > .sapMLIBContent > .sapMGHLITitle {
	color: @sapPositiveElementColor;
}
.sapSmartTemplatesSLINeutral > .sapMLIBContent > .sapMGHLITitle {
	color: @sapNeutralElementColor;
}
.sapSmartTemplatesSLINegative > .sapMLIBContent > .sapMGHLITitle {
	color: @sapNegativeElementColor;
}
.sapSmartTemplatesSLICritical > .sapMLIBContent > .sapMGHLITitle {
	color: @sapCriticalElementColor;
}

.sapSmartTemplatesSLIBold > .sapMLIBContent > .sapMSLITitleDiv > .sapMSLITitleOnly {
	font-weight: bold;
}


.sapUiSizeCompact .sapSmartTemplatesObjectPageRelatedAppsPopover .sapMBtn{
	padding: 0.250rem 1rem;
}

.sapSmartTemplatesObjectPageRelatedAppsPopover > .sapMBtn{
	padding: 0.250rem 0.350rem;
}

.sapUxAPObjectPageSubSection {
  padding: 1rem 0 !important;
}

.sapSmartTemplatesObjectPageSubSectionGridExpand {
  height: 100%;
  display:flex;
}

.sapSmartTemplatesObjectPageHeaderFormObjectStatus{
  line-height: 1.320rem !important;
}
