/*.copilotQuickViewContainerBox .sapQuickViewLineItemTable > div {
    margin-right: 1rem !important;
}*/
.copilotQuickViewContainerBox {
	.sapQuickViewLineItemTable {
		.sapMTB.sapMListHdrTBar {
			padding: 0;
			height: 2rem;
		}
		.sapMIBar {
			.sapMTitle {
				font-family: @sapUiFontFamily;
				font-size: @sapMFontLargeSize !important;
				font-weight: normal;
				color: @sapUiContentLabelColor;
			}
		}
		.sapMListTblCell {
			height: 1.5rem;
		}
	}
	.sapQuickViewTitle {
		margin-bottom: 1rem;
	}
	.sapQuickActionCenteredBusyIndicator {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 999999;
	}
}
.sapQuickViewSmartFieldLabel {
	.sapMLabel {
		font-family: @sapUiFontFamily;
		font-size: @sapMFontMediumSize;
		font-weight: normal;
		color: @sapUiContentLabelColor;
	}
}
.sapQuickViewTextTitle {
	.sapMText {
		font-family: @sapUiFontFamily !important;
		font-size: @sapMFontMediumSize !important;
		font-weight: normal;
		color: @sapUiGroupTitleTextColor !important;
	}
}
.sapQuickViewBadgeTitle {
	font-family: @sapUiFontFamily !important;
	font-size: @sapMFontHeader5Size !important;
	font-weight: normal;
	color: @sapUiGroupTitleTextColor !important;
}
.sapQuickViewBadgeSubtitle {
	font-family: @sapUiFontFamily !important;
	font-size: @sapMFontMediumSize !important;
	font-weight: normal;
	color: @sapUiContentLabelColor !important;
}
.sapQuickViewBadgeTinyMarginTop {
	margin-top: 0.2rem;
}
.sapQuickViewBadgeImageBorder {
	overflow: hidden !important;
	max-width: 3.0rem;
	max-height: 3.0rem;
}
.sapQuickViewBadgeIconBorder {
	color: @sapUiContentNonInteractiveIconColor;
	padding: 0.2rem 0.2rem;
}
.sapQuickViewBadgeIcon {
	color: @sapUiContentNonInteractiveIconColor;
	padding: 0.2rem 0.2rem;
	width: 2.5rem;
	font-size: 2.5rem;
}
.sapQuickViewBadgeIconPadding {
	padding-top: 2px;
}

.quickTemplateVBox {
	border-top: 1px solid #cccccc;
	margin-top: 1rem !important;
}

.quickViewParent {
	.sapUiFormResGrid>div {
		padding: 0;
	}
	
	.sapUiFormElementLbl {
		font-size: 1px;
	}
	
	.sapUiFormM .sapUiRespGridMedia-Std-Phone.sapUiFormResGridCont>.sapUiFormElementLbl.sapUiRespGridSpanS12 {
		padding-top: 0.5rem !important;
	}
	
	.sapUiSimpleForm {
		margin-top: 0.5rem;
	}
}

.sapQuickViewLineItemTable {
	margin-top: 1rem;
}