
//[Tags "Color"]
// [Description "Background color for the loading animation"]
@_sap_ushell_LoadingFlower_LeafBackgroundColor:			@sapUiLightestBG;
@_sap_ushell_LoadingFlower_ColorOfLeavesForSandbox:			        @sapUiLightestBG;

#fiori2-startup-flower.demo .fiori2-leaf {
  /* base color of leaves, for demo adapter: red */

  background-color: @_sap_ushell_LoadingFlower_LeafBackgroundColor;
}
#fiori2-startup-flower.abap .fiori2-leaf {
  /* base color of leaves, for real launchpad : blue*/

  background-color: @_sap_ushell_LoadingFlower_LeafBackgroundColor;
}
#fiori2-startup-flower.sandbox .fiori2-leaf {
  /* base color of leaves, for sandbox: pink */

  background-color: @_sap_ushell_LoadingFlower_ColorOfLeavesForSandbox;
}
.fiori2-leaf {
  background-color: @_sap_ushell_LoadingFlower_LeafBackgroundColor;
}

#fiori2-loader {

    -moz-opacity: 0.9;
    -khtml-opacity: 0.9;
    -webkit-opacity: 0.9;
    opacity: 0.9;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
    filter: alpha(opacity=90);
}
