.sapSmartTemplatesObjectPage .sapSmartTemplatesObjectPageContactsList .sapSmartTemplatesObjectPageContactsListContactSubTitle {
  color: @sapLightTextColor;
}

.sapSmartTemplatesObjectPage .sapSmartTemplatesObjectPageContactsImage {
  background-color: @sapExtraLightBackground;
  color: @sapDarkBorderColor;
}

.sapSmartTemplatesObjectPage .sapSmartTemplatesObjectPageHeaderForm .sapSmartTemplatesObjectPageHeaderFormLabel,
.sapSmartTemplatesObjectPage .sapSmartTemplatesObjectPageHeaderContact .sapSmartTemplatesObjectPageHeaderContactLinkIcon {
  color: @sapUiLabelText;
}

.sapSmartTemplatesObjectPage .sapUxAPObjectPageHeaderDetails .sapSmartTemplatesObjectPageHeaderMiniChartTitle {
  color: @sapUiStandardText;
}

.sapSmartTemplatesObjectPage .sapSmartTemplatesObjectPageHeaderMiniChartSubTitle {
  color: @sapUiContentLabelColor;
}

.sapSmartTemplatesObjectPageHeaderProgressIndicatorTitle{
  color: @sapUiStandardText;
}
