.sapSmartTemplatesObjectPage .sapSmartTemplatesObjectPageContactsList .sapSmartTemplatesObjectPageContactsListContactSubTitle {
  color: @sapUiContentLabelColor;
}

.sapSmartTemplatesObjectPage .sapSmartTemplatesObjectPageContactsImage {
  background-color: darken(@sapUiGroupContentBackground, 5);
  color: darken(@sapUiGroupContentBackground, 25);
}
.sapSmartTemplatesObjectPage .sapSmartTemplatesObjectPageContactsListItem {
  background-color: transparent;
}

.sapSmartTemplatesObjectPage .sapUxAPObjectPageHeaderContent .sapUxAPObjectPageHeaderContentItem.sapSmartTemplatesObjectPageHeaderImage,
.sapSmartTemplatesObjectPage .sapUxAPObjectPageHeaderIdentifier .sapUxAPObjectPageHeaderObjectImageForce .sapUxAPObjectPageHeaderObjectImage,
.sapSmartTemplatesObjectPage .sapUxAPObjectPageHeaderStickied .sapUxAPObjectPageHeaderIdentifier .sapUxAPObjectPageHeaderObjectImage {
  border-color: darken(@sapUiObjectHeaderBackground, 8%);
}

.sapSmartTemplatesObjectPage .sapSmartTemplatesObjectPageHeaderForm .sapSmartTemplatesObjectPageHeaderFormLabel,
.sapSmartTemplatesObjectPage .sapSmartTemplatesObjectPageHeaderContact .sapSmartTemplatesObjectPageHeaderContactLinkIcon {
  color: @sapUiContentLabelColor;
}

.sapSmartTemplatesObjectPage .sapUxAPObjectPageHeaderDetails .sapSmartTemplatesObjectPageHeaderMiniChartTitle {
  color: @sapUiGroupTitleTextColor;
}

.sapSmartTemplatesObjectPage .sapSmartTemplatesObjectPageHeaderMiniChartSubTitle {
  color: @sapUiContentLabelColor;
}

.sapSmartTemplatesObjectPage .sapSmartTemplatesObjectPageHeaderForm .sapSmartTemplatesObjectPageHeaderFormTitle,
.sapSmartTemplatesObjectPage .sapSmartTemplatesObjectPageHeaderPlainText .sapSmartTemplatesObjectPageHeaderPlainTextTitle {
  color: @sapUiGroupTitleTextColor;
}

.sapSmartTemplatesObjectPageHeaderProgressIndicatorTitle{
  color: @sapUiGroupTitleTextColor;
}
