.sapSmartTemplatesObjectPage .sapUxAPObjectPageHeaderDetails .sapSmartTemplatesObjectPageHeaderMiniChartTitle {
  color: @sapUiGroupTitleTextColor;
}

.sapSmartTemplatesObjectPage .sapUxAPObjectPageHeaderIdentifier .sapUxAPObjectPageHeaderObjectImageForce .sapUxAPObjectPageHeaderObjectImage,
.sapSmartTemplatesObjectPage .sapUxAPObjectPageHeaderStickied .sapUxAPObjectPageHeaderIdentifier .sapUxAPObjectPageHeaderObjectImage {
  border: 1px solid @sapUiPageHeaderBorderColor;
  border-radius: 0;
}

.sapSmartTemplatesObjectPage .sapUxAPObjectPageHeaderContent .sapUxAPObjectPageHeaderContentItem,
.sapSmartTemplatesObjectPage .sapSmartTemplatesObjectPageDynamicPageHeader > * {
  margin-right: 2rem;
  margin-bottom: 1rem;
  line-height: 1.320rem;
}

.sapSmartTemplatesObjectPageHeaderFormLabelNCriticcal{
  line-height: 1.320rem;
}

.sapSmartTemplatesObjectPageHeaderFormBox{
  line-height: 1rem !important;
}

